:root {
  --size-of-top: 30%;
  --box-shadow: 0 0 20px 10px rgba(255, 10, 84, 0.1);
}
.authCard {
  color: #ff7096;
  width: 100%;
  height: 100%;
  max-width: 27rem;
  max-height: 40rem;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.authCard_display {
  height: var(--size-of-top);
  width: 100%;
  object-fit: cover;
  background-image: linear-gradient(to left, #fae0e4, #ffb3c1);
  clip-path: ellipse(60% 100% at 50% 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.authCard_display img {
  width: 100%;
  height: 100%;
  object-position: center bottom;
  object-fit: cover;
  filter: invert(1);
  opacity: 0.15;
}
.authCard_wrapicon {
  width: 100%;
  top: calc(var(--size-of-top) - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.authCard_icon {
  padding: 1rem;
  background-color: #fff;
  letter-spacing: 0.2rem;
  color: #ff7096;
  font-weight: 900;
  font-size: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
}
.authCard_form {
  width: 100%;
  flex-grow: 1;
  padding: 2rem;
  padding-top: 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.body {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#fff, #fae0e4);
}
.footer {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 1.1rem;
  color: #ff477e;
  opacity: 0.5;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.no_acct {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: var(--input-color);
  align-items: center;
  letter-spacing: 0.1rem;
}
.shine {
  width: 100%;
  height: 10%;
  clip-path: polygon(0% 30%, 100% 0%, 100% 70%, 0% 100%);
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  z-index: 5;
  pointer-events: none;
  animation: shine-move 2s;
  opacity: 0;
  top: 0;
}
@keyframes shine-move {
  0% {
    top: 0;
    opacity: 1;
  }
  90% {
    top: 100%;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
